{% extends "base.html" %}
{% block title %}
	<title> World </title>
    <link rel="stylesheet" type="text/css" href="static/css/pagination.css">
    
{% endblock %}
{% block content %}

    <div class="container">
        <h2> Countries Explorer </h2>
        <h3> Learn about the countries around the world </h3>
        </br>
        {% if msg %}
        <div class="alert alert-success fw-bold" role="alert">
            {{ msg }}
        </div>
        {% endif %}
        </br> </br> </br>
        <div class="row">
            {% for country in countries %}
                <div class="col-md-4 mr-auto">
                    {% with obj=country %}
                        {% include 'card.html' %}
                    {% endwith %}
                    {% if loop.index % 3 %}
                        <br>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </br>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="?page={{ prev_page }}">Previous</a></li>
              <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ next_page }}">Next</a></li>
            </ul>
        </nav>
    </div>
  
{% endblock %}
