{% extends 'base.html' %}


{% block title %}
    <title> List of countries to update or delete </title>
{% endblock %}



{% block content %}
<div class="container">
    <h2 class="text-center"> Countries to update or delete </h2>

    </br>
    <div id="result"></div>

        <table id="datatable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id number</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for country in countires %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{country.country_name}}</td>
                    <td>{{country.description}}</td>
                    <td><button class="btn btn-danger" onclick="delete_country({{country.country_id}})"> Delete</button>
                        <a href="/update/{{country.country_id}}" class="btn btn-primary">Update</a>
                    
                    </td>
                </tr>
                {% endfor %}
  
            </tbody>
        </table>

            {% for error in errors %}
            <div class="alert alert-danger fw-bold" role="alert">
                {{ error }}
            </div>
            {% endfor %}
</div>
    {% endblock %}

{% block script %}

        <script type="text/javascript">
        $(document).ready(function()
        {
            $("#datatable").DataTable()
        });
        </script>
        <script type="text/javascript">
        function delete_country(country_id){
            fetch("/country/delete/"+country_id, {method:'DELETE'})
            .then(response => response.json())
			.then(data => document.getElementById("result").innerHTML = data.message)
        }
    </script>
{% endblock %}