{% extends 'base.html' %}


{% block title %}
    <title> Registration </title>

{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="text-center"> Create Account</h1>
    

        <form method="POST">
            <div class="mb-3">
                <label for="first_name"  class="form-label">First name</label>
                <input type="first_name" required class="form-control" name="first_name" placeholder="Enter your first name">
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Last name</label>
                <input type="last_name" class="form-control" name="last_name" placeholder="Enter your last name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" required class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter your email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" required class="form-control" name="password" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </br> </br>
       
        {% for error in errors %}
            <div class="alert alert-danger fw-bold" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        
       

    </div>
{% endblock %}
